[Unit]
Description=jupyterhub
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
# The :Z sets the selinux context to the appropriate Multi-Category Security (MCS)
# http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/
ExecStart=/usr/bin/docker run -t --rm --name jupyterhub -p 5692:8000 -v {{ zz.host_conf_d }}:{{ zz.guest_conf_d }}:Z -v /run/docker.sock:/run/docker.sock {{ zz.docker_image }} jupyterhub -f {{ zz.guest_config }}
ExecStop=-/usr/bin/docker stop -t 2 jupyterhub

[Install]
WantedBy=multi-user.target
